# <center><font color = '#DF9166' size = 20 center> **Feature Engineering**</font></center>


## <font color = '#DF9166' size=6>**Table of content**<font/><a class = 'anchor' id = 'introduction'/>

1. [**Import Libraries**](#import)
2. [**Data Loading**](#data_loading)
3. [**Feature Engineering**](#feature_engineering)

## <font color = '#DF9166' size=6>**Import Libraries**<font/><a class = 'anchor' id = 'import'/>

In [1]:
import os
import sys
import pandas as pd

In [2]:
import warnings

warnings.filterwarnings("ignore")

In [3]:
pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_columns", None)

In [4]:
sys.path.append(os.path.abspath(os.path.pardir))
from scripts.feature_engineer import FraudFeatureEngineer

## <font color = '#DF9166' size=6>**Data Loading**<font/><a class = 'anchor' id = 'data_loading'/>

In [5]:
CREDIT_DATA_PATH = "../data/processed/cleaned_credit_df.csv"
FRAUD_DATA_PATH = "../data/processed/merged_fraud_df.csv"

In [6]:
processor = FraudFeatureEngineer(FRAUD_DATA_PATH, CREDIT_DATA_PATH)

## <font color = '#DF9166' size=6>**Feature Engineering**<font/><a class = 'anchor' id = 'feature_engineering'/>

In [7]:
processor.process_fraud_data()

Processing fraud data...
Loading data from ../data/processed/merged_fraud_df.csv...
Converting timestamps and extracting time-based features...
Calculating transaction frequency and velocity...
Dropping unnecessary columns...
Encoding categorical features...
Normalizing numerical features...
First 3 rows of transformed fraud data:

,Unnamed: 0,purchase_value,source,browser,sex,age,class,country,hour_of_day,day_of_week,time_since_signup,transaction_count,velocity
0,0,0.3125,2,0,1,0.538462,0,84,0.086957,0.833333,0.434673,0.0,0.504068
1,1,0.0875,0,0,0,0.897436,0,171,0.043478,0.000000,0.001731,0.0,0.504068
2,2,0.0750,2,3,1,0.897436,1,171,0.782609,0.500000,0.000000,0.0,0.504068

Splitting and saving data...
Splitting data for fraud_data...
Saving split datasets for fraud_data...
Data processing complete.

In [8]:
processor.process_creditcard_data()

Processing credit card data...
Loading data from ../data/processed/cleaned_credit_df.csv...
Normalizing features V1 to V28 and Amount...
First 3 rows of transformed credit card data:

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,0.0,0.432237,0.469159,0.822691,0.725409,0.442469,0.638949,0.551394,0.518831,0.578229,0.533324,0.408293,0.323307,0.309453,0.406192,0.791061,0.374109,0.570770,0.505937,0.610117,0.710742,0.501654,0.566628,0.416407,0.508551,0.541883,0.435634,0.690431,0.435569,0.005824,0
1,1,0.0,0.812012,0.529660,0.513267,0.579162,0.518961,0.522077,0.480501,0.512471,0.453398,0.468175,0.769760,0.734555,0.591806,0.451777,0.622034,0.609963,0.479341,0.453645,0.459868,0.478278,0.376515,0.352628,0.587539,0.380255,0.556338,0.574536,0.470241,0.503803,0.000105,0
2,2,1.0,0.432453,0.242927,0.723051,0.568410,0.410807,0.926031,0.674268,0.588510,0.199540,0.562856,0.604716,0.490413,0.635327,0.445739,0.969237,0.493148,0.826268,0.469147,0.499637,0.909169,0.662280,0.681937,0.505845,0.270044,0.371191,0.457689,0.398612,0.361762,0.014739,0

Splitting and saving data...
Splitting data for creditcard_data...
Saving split datasets for creditcard_data...
Data processing complete.

In [11]:
import numpy as np

np.load("../data/processed/creditcard_data_X_val.npy").shape

(42559, 31)